<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=localhost;Database=talktome;User Id=talktome;Password=CHANGE_ME;TrustServerCertificate=true" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>